.main-container {
  width: 718px;
  height: 700px;
  border: 1px black;
  border-style: solid;
  margin: auto;
  margin-top: 50px;
}

.move-forward-button {
  float: right;
}

.cancel-button {
  float: left;
}

.headers-column {
  margin-left: 15px;
}

.exclude-columns {
  margin-bottom: 25px;
}

.indexedStep {
  color: white;
  margin-left: 40px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.RSPBprogressBar {
  display: flex;
  justify-content: space-between;
  float: right;
}

.justify-end {
  justify-content: end;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files input:focus{
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}

.files{
  position:relative
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input{
  background-color:#f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 0px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: "or drag it into the box.";
  display: block;
  margin: 0 auto;
  color: #008eff;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.fc-custom {
  font-weight: 600 !important;
  height: 475px !important;
}

.fc-custom2 {
  width: 30% !important;
}

.list-form-input {
  margin-bottom: 15px;
}

.RSPBprogressBar {
  padding-top: 5px;
}

.response-info {
  max-height: 200px;
  padding: 7px;
  overflow: scroll;
  border: solid 1px black;
}